{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <div>
      <h1>Welcome to our website!</h1>
      <p>We offer a wide range of products and services to meet your needs.</p>
      <!-- Buttons -->
      <div class="w3-row">
          <div class="w3-col m6 w3-center">
              <a href="./shopping" class="w3-button w3-large w3-blue">Go Shopping</a>
          </div>
          <div class="w3-col m6 w3-center">
              <a href="./contact" class="w3-button w3-large w3-green">Contact Us</a>
          </div>
      </div>
    </div>
{% endblock %}